body {
    background-image: url('https://cdn.pixabay.com/photo/2017/01/31/19/20/cat-2022341_1280.png'); /* ลิงก์ภาพแมวแบบลายน้ำ */
    background-repeat: repeat;
    background-size: 120px;
    background-color: #fff0f6;
  }
  